body {
  background: #F5F5F5;
  padding-top: 70px;
  padding-bottom: 70px;
}

header {
  background-color: gainsboro;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  background: gainsboro;
  padding-top: 10px;
  box-shadow: 2px -2px 2px 1px rgba(0, 0, 0, 0.2);
}

.warning {
  background-color: lightcoral;
}

#loginContent {
  text-align: center;
}

#appName {
  text-align: right;
  float: right;
  margin: 5px 10px 5px 5px;
}

#crowLogo {
  max-width: 250px;
  display: block;
  margin: 20px auto;
}

main {
  z-index: -1;
}

.bottom {
  position: fixed;
  bottom: 3%;
  width: 100%;
}

.nav-buttons {
  display: inline-flex;
}

.nav-button {
  margin: auto 10px;
  text-align: center;
}

.page-name {
  text-align: center;
}

#loginMain {
  background: white;
}

/*.draft-item {
  list-style: none;
  background: gainsboro;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  margin: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}*/

.draft-item {
  list-style: none;
  margin: 10px;
}

textarea {
  height: 200px;
}

.center {
  text-align: center;
}

.plus {
  font-size: large;
}

.draft-item-content {
  background: white;
  border-radius: 5px;
  border: .5px solid #ddd;
  padding: 5px;
  max-height: 5em;
  overflow-y: scroll;
  position: relative;
}

.draft-text {
  margin-right: 20px;
  margin-bottom: 0;
  float: left;
}

.arrow {
  /*position: absolute;
  right: 5px;
  top: 25%;*/
  vertical-align: middle;
  float: right;
}

#draftList a {
  text-decoration: none;
  color: black;
}

#userTwitterInfo {
  float: left;
}

#userTwitterInfo h3 {
  float: left;
  margin: 5px;
  margin-left: 0;
}

#userTwitterInfo img {
  float: left;
  width: 35px;
  margin: 5px;
}