header {
  background-color: gainsboro;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  background: gainsboro;
  padding-top: 10px;
  box-shadow: 2px -2px 2px 1px rgba(0, 0, 0, 0.2);
}

#loginContent {
  text-align: center;
}

#appName {
  text-align: right;
  float: right;
  margin: 5px;
}

#crowLogo {
  max-width: 250px;
  display: block;
  margin: 20px auto;
}

main {
  z-index: -1;
}

.bottom {
  position: fixed;
  bottom: 3%;
  width: 100%;
}

.nav-buttons {
  display: inline-flex;
}

.nav-button {
  margin: auto 10px;
  text-align: center;
}

.page-name {
  text-align: center;
}

.draft-item {
  list-style: none;
  background: gainsboro;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  margin: 15px;
}

.draft-date {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: auto 5px;
  font-size: .9em;
}

.draft-text {
  margin: auto;
}

#draftList:first-child {
  margin-top: 70px;
}

#draftList:last-child {
  margin-bottom: 70px;
}

#draftList a {
  text-decoration: none;
  color: black;
}

#userTwitterInfo {
  float: left;
}

#userTwitterInfo h3 {
  float: left;
  margin: 5px;
  margin-left: 0;
}

#userTwitterInfo img {
  float: left;
  width: 35px;
  margin: 5px;
}