<header ng-include="'./views/templates/header.html'"></header>
<main>

  <div class="container">

    <div class="row">
      <button class="button-primary offset-by-four four columns"
        ng-click="settings.logOut()">
        Log Out
      </button>
    </div>

    <div class="row">
      <a href="mailto:hello@hisaac.net">
        <button class="button-primary offset-by-four four columns">
          Get Support
        </button>
      </a>
    </div>

    <div class="row">
      <a href="#about">
        <button class="button-primary offset-by-four four columns">
          About Crow
        </button>
      </a>
    </div>

  </div>

</main>
<nav ng-include="'./views/templates/nav.html'"></nav>
