<header ng-include="'./views/templates/header.html'"></header>
<main>

  <form class="container">
    <div class="row">
      <textarea class="u-full-width" id="tweetText" placeholder="Tweet your heart out"
        ng-model="tweet.draftFactory.text"></textarea>
    </div>

    <p>Characters: <span ng-class="{warning: (tweet.draftFactory.text.length > 140)}">{{ tweet.draftFactory.text.length }}</span></p>

    <div class="row">
      <button class="button one-half column"
        ng-click="tweet.saveDraft()">
        Save to Drafts
      </button>
    </div>
    <div class="row">
      <button class="button-primary one-half column"
        ng-click="tweet.postTweet()">
        Post to Twitter
      </button>
    </div>
    <div class="row">
      <button class="button-danger one-half column"
        ng-click="tweet.deleteDraft()">
        Delete Draft
      </button>
    </div>
  </form>

</main>
<nav ng-include="'./views/templates/nav.html'"></nav>