<header ng-include="'./views/templates/header.html'"></header>
<main>
  <h1 class="page-name">Tweet</h1>

  <form>
    <div class="row">
      <textarea class="u-full-width" placeholder="Tweet your heart out" id="tweetText"></textarea>
    </div>
    <div class="row">
      <button class="button-primary one-half column">Post to Twitter</button>
      <button class="button one-half column">Save to Drafts</button>
    </div>
  </form>

</main>
<nav ng-include="'./views/templates/nav.html'"></nav>
